@charset "UTF-8";

.footer{
    background-color: black;
    color: white;    
    padding: 15px;
}
.footer > .container > .row > .col-6 > h5{
    font-size: 14px;
}
.form > h5{
    font-size: 16px;
}
.navItemFooter{
    color: rgb(156, 156, 156);
}
.navItemFooter:hover{
color: white;
    text-decoration: underline;
}
.textModal{
    color: black;
}
.fraseRodape{
    display: block;
    margin: auto;
}